.vs
Hardware/HoloCubic-Assembled/ExtendBoard/__Previews
Hardware/HoloCubic-Assembled/MainBoard/__Previews
Hardware/HoloCubic-Assembled/History
Hardware/HoloCubic-Assembled/ExtendBoard/ExtendBoard.PrjPCBStructure
Hardware/HoloCubic-Assembled/MainBoard/History
Hardware/HoloCubic-Assembled/MainBoard/MainBoard.PrjPCBStructure
Hardware/HoloCubic-Assembled/MainBoard/Project Outputs for MainBoard
Firmware/HoloCubic_fw/.vs
Firmware/HoloCubic_fw/__vm
Firmware/HoloCubic_fw/Release
Software/vs2019_proj/x64
Software/vs2019_proj/.vs
Software/vs2019_proj/.vs/lvgl_similator/v16/.suo
_private
Hardware/Ironman Version/HoloCubic-Assembled/History
Hardware/Ironman Version/HoloCubic-Assembled/MainBoard/History
Hardware/Ironman Version/HoloCubic-Assembled/MainBoard/Project Logs for MainBoard
Hardware/Ironman Version/HoloCubic-Assembled/MainBoard/Project Outputs for MainBoard
Software/LvglSimulator/vs2019_proj/Debug
Software/LvglSimulator/vs2019_proj/.vs
Software/LvglSimulator/vs2019_proj/x64/Debug
Software/LvglSimulator/vs2019_proj/x64/Release
Software/ImageToHolo/.idea
Software/ImageToHolo/convertor/__pycache__
/Firmware/HoloCubic-fw/CMakeSettings.json
